{% extends "base.html" %}
{% block title %}Términos y Condiciones - OnePUM{% endblock %}
{% block content %}
<div class="container">
    <h1>Términos y Condiciones</h1>
    <p>Estos términos y condiciones ("Términos") rigen el uso de la aplicación OnePUM ("la Aplicación") y cualquier servicio ofrecido a través de ella. Al acceder y utilizar la Aplicación, aceptas estar legalmente vinculado por estos Términos. Si no estás de acuerdo con alguno de estos términos, por favor no utilices la Aplicación.</p>

    <h2>1. Uso de la Aplicación</h2>
    <p>OnePUM es un asistente virtual especializado en marketing digital, diseñado para ayudarte con diversas tareas relacionadas con el marketing en línea. Al utilizar la Aplicación, aceptas utilizarla únicamente para fines legales y de acuerdo con estos Términos.</p>

    <h2>2. Registro</h2>
    <p>Algunas funciones de la Aplicación pueden requerir que te registres proporcionando cierta información personal. Debes garantizar que la información proporcionada durante el registro sea precisa y completa, y actualizarla según sea necesario para mantenerla precisa y completa.</p>

    <h2>3. Responsabilidad del Usuario</h2>
    <p>Eres responsable de mantener la confidencialidad de tu cuenta y contraseña y de restringir el acceso a tu cuenta. Aceptas ser responsable de todas las actividades que ocurran bajo tu cuenta o contraseña.</p>

    <h2>4. Limitaciones de Responsabilidad</h2>
    <p>OnePUM se proporciona "tal cual" y "según disponibilidad". No garantizamos que la Aplicación esté libre de errores o que funcione de manera ininterrumpida. No seremos responsables ante ti por ningún daño incidental, especial, emergente o indirecto que surja de tu uso o incapacidad para usar la Aplicación.</p>

    <h2>5. Modificaciones</h2>
    <p>Nos reservamos el derecho de modificar o actualizar estos Términos en cualquier momento. Los cambios entrarán en vigencia inmediatamente después de su publicación en la Aplicación. Se te notificarán los cambios significativos en estos Términos.</p>

    <h2>6. Propiedad Intelectual</h2>
    <p>Todos los derechos de propiedad intelectual relacionados con la Aplicación son propiedad de OnePUM. No se te otorga ningún derecho de propiedad sobre la Aplicación, excepto el derecho limitado de usarla de acuerdo con estos Términos.</p>

    <h2>7. Contacto</h2>
    <p>Si tienes alguna pregunta sobre estos Términos, contáctanos a través de info@onepum.com o al +593982541659.</p>

    <p>Al utilizar nuestra Aplicación, aceptas los términos de estos Términos y Condiciones.</p>
</div>
{% endblock %}
